/*===== VARIABLES CSS =====*/
/*=== COLORS ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #1d2130;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-dark-green-color: #677865;
  --background-green-color: #cdcdc5;
  --background-gray-color: #eeeeee;
  --text-gay-color: #525560;
  --text-white-color: #ffffff;
  --test-red-color: red;
}
/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 56px;
  --h2-font-size: 3rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.8rem;
    --normal-font-size: 1rem;
  }
}
/*===== SECTION ===== */
.lSectionJoinTheGroup {
  background-color: var(--background-dark-color);
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}
.sectionJoinTheGroup {
  max-width: 1279px;
  margin-left: 0;
  margin-right: 0;
  padding: 2rem 0;
  color: var(--dark-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}
.sectionJoinTheGroupData {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
.sectionTextWhiteJoinTheGroup {
  color: var(--white-color);
  max-width: 550px;
}
.customButtonJoinTheGroup {
  margin: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 320px) {
  .sectionJoinTheGroupData {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .sectionJoinTheGroupData {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 760px) {
  .sectionJoinTheGroup {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .sectionTextWhiteJoinTheGroup {
    color: var(--white-color);
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .sectionJoinTheGroup {
    height: 520px;
    max-width: 1279px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .customButtonJoinTheGroup {
    margin: 30px 0 0;
    justify-content: left;
  }
}

@media screen and (min-width: 1920px) {
  .sectionJoinTheGroup {
    display: flex;
    justify-content: center;
    height: 520px;
  }
}
