/*===== VARIABLES CSS =====*/
/*=== COLORS ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #1d2130;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-dark-green-color: #677865;
  --background-green-color: #cdcdc5;
  --background-gray-color: #eeeeee;
  --text-gay-color: #525560;
  --text-white-color: #ffffff;
  --test-red-color: red;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 56px;
  --h2-font-size: 3rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.8rem;
    --normal-font-size: 1rem;
  }
}

/*=== z index ===*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*===== MODAL STYLES  =====*/

.modalTithesAndOfferingsComponentOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.modalDivTithesAndOfferingsMotion {
  max-width: 650px;
  width: 80%;
  background-color: var(--background-white-color);
  border-radius: 5px;
}
.modalTithesAndOfferingsHeader {
  border-bottom: 1px solid var(--dark-color);
  background-color: var(--background-white-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.modalTithesAndOfferingsTitle {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  color: var(--text-dark-color);
}
.closeTithesAndOfferingsDonate {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--background-dark-color);
  color: var(--white-color);
  cursor: pointer;
}
.closeTithesAndOfferingsDonate:hover {
  cursor: pointer;
  transition: color 0.3s ease;
  background-color: var(--background-dark-green-color);
  color: var(--dark-color);
}
.modalContentTithesAndOfferings {
  text-align: left;
  padding: 1rem;
  color: var(--text-dark-color);
}
.modalBankTithesAndOfferingsInfo {
  margin-top: 15px;
  background-color: var(--background-green-color);
  border-radius: 5px;
  padding: 10px;
}
.infoTitleModalTithesAndOfferings {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.divContainerBankTithesAndOfferingsInfo {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}
.textShowUnderTabletModeBankTithesAndOfferingsInfo {
  display: none;
}
.divContainerMobileModeBankTithesAndOfferingsInfo {
  margin-top: 10px;
  display: block;
  justify-content: space-between;
  padding: 0 25px;
}
.divContainerQRCodeBankTithesAndOfferingsInfo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.imageConfigQRCodeBankTithesAndOfferingsInfo {
  width: 350px;
}
.divContainerButtonCopyQRCodeBankTithesAndOfferingsInfo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 760px) {
  .divContainerMobileModeBankTithesAndOfferingsInfo {
    display: none;
  }
  .textShowUnderTabletModeBankTithesAndOfferingsInfo {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .divContainerMobileModeBankTithesAndOfferingsInfo {
    display: none;
  }
  .textShowUnderTabletModeBankTithesAndOfferingsInfo {
    display: block;
  }
}
