/*===== VARIABLES SCSS =====*/
/*===== VARIABLES CSS =====*/
/*=== Cores ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #000;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-green-color: #cdcdc5;
  --text-gay-color: #525560;
  --text-dark-blue: #1d2130;
  --test-red-color: red;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h2-font-size: 3rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h2-font-size: 2.5rem;
    --normal-font-size: 1rem;
  }
}

/*===== SECTION ===== */
.lSectionMinistriesPage {
  background-color: var(--background-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}
.containerMinistriesPage {
  width: 100%;
  max-width: 1279px;
  margin-left: 0;
  margin-right: 0;
  display: row;
}
.backButton {
  background-color: red;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 80px;
  cursor: pointer;
}
.textbackButton {
  color: var(--text-dark-blue);
  margin-left: 10px;
  font-weight: light;
}
.columImageMinistriesPage {
  width: 100%;
  background-color: orange;
}

/*===== IMAGE =====*/
.divImageMinistriesPageInfo {
}
/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 760px) {
  .sectionColumMinistriesPage {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .sectionColumMinistriesPage {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}
