/*===== GOGGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*===== VARIABLES CSS =====*/
/*=== COLORS ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #000;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-green-color: #cdcdc5;
  --background-dark-green-color: #677865;
  --text-gay-color: #525560;
  --text-white-color: #ffffff;
  --test-red-color: red;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.8rem;
    --normal-font-size: 1rem;
  }
}

/*=== z index ===*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*===== MODAL STYLES  =====*/

.darkModalComponentOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.darkModal {
  max-width: 500px;
  width: 80%;
  background-color: var(--background-dark-color);
  border-radius: 5px;
}
.darkModalHeader {
  border-bottom: 1px solid var(--text-white-color);
}
.darkModalTitle {
  margin: 0;
  font-size: 1.25rem;
  padding: 1rem;
  text-align: center;
  color: var(--text-white-color);
}
.darkModalContent {
  text-align: left;
  padding: 1rem;
  color: var(--text-white-color);
}
.darkModalFooter {
  padding: 1rem;
  border-top: 1px solid var(--text-white-color);
  text-align: right;
}
.darkModalButton {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-white-color);
  background: var(--background-dark-color);
  padding: 0;
  border-radius: 0;
  border: 0;
  margin-right: 1rem;
  transition: color 0.3s ease;
}

.darkModalButton {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-white-color);
  background: var(--background-dark-color);
  padding: 0;
  border-radius: 0;
  border: 0;
  margin-right: 1rem;
  transition: color 0.3s ease;
}

.darkModalButton:hover {
  color: var(--background-dark-green-color);
  transition: color 0.3s ease;
}
