/*===== VARIABLES SCSS =====*/
/*===== VARIABLES CSS =====*/
/*=== Cores ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #000;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-green-color: #cdcdc5;
  --text-gay-color: #525560;
  --test-red-color: red;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h2-font-size: 3rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h2-font-size: 2.5rem;
    --normal-font-size: 1rem;
  }
}

/*===== SECTION ===== */
.lSectionOurLeaders {
  background-color: var(--white-color);
}

.sectionOurLeaders {
  /* height: 100vh; */
  height: max(100vh, fit-content);
  max-width: 1279px;
  margin-left: 0;
  margin-right: 0;
  padding: 2rem 0;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}

.sectionOurLeadersData {
  margin-bottom: 3rem;
}

/*===== IMAGE =====*/
.sectionOurLeadersImg div {
  background-image: url('../../assets/images/AldoEFabi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 320px;
  height: 320px;
}
.centeredImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 760px) {
  .sectionOurLeaders {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .sectionOurLeadersImg div {
    width: 470px;
    height: 470px;
  }
}

@media screen and (min-width: 1200px) {
  .sectionOurLeaders {
    height: 100vh;
  }
  .sectionCommunityMission {
    height: 100vh;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1350px) {
  .imageSmallShowAndHideOurLeaders {
    display: none;
  }
  .imageLargeShowAndHideOurLeaders {
    display: block;
  }
}

@media screen and (max-width: 1349px) {
  .imageSmallShowAndHideOurLeaders {
    display: block;
    margin-bottom: 15px;
  }
  .imageLargeShowAndHideOurLeaders {
    display: none;
  }
}
