:root {
  --first-color: #0396a6;
  --dark-color: #000;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-dark-green-color: #677865;
  --background-green-color: #cdcdc5;
  --text-gay-color: #525560;
  --test-red-color: red;
}
.sectionNav {
  width: 100%;
  height: 5rem;
  z-index: 50;
  position: fixed;
  background-color: var(--background-dark-color);
}
.AdjustmentsDivNav {
  width: 100%;
  height: 100%;
  max-width: 1279px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.LogoMountChuchNavMenu {
  cursor: pointer;
  width: 100%;
  max-width: 70px;
  height: 100%;
}
.navItemMenu {
  color: var(--background-white-color);
  transition: color 0.3s ease;
}
.navItemMenu:hover {
  color: var(--background-dark-green-color);
  transition: color 0.3s ease;
}

.navItemMenuMobile {
  color: var(--white-color);
  background-color: var(--background-dark-color);
  transition: color 0.3s ease;
}

.navItemMenuMobile:hover {
  color: var(--green-color);
  background-color: var(--background-dark-color);
  transition: color 0.3s ease;
}
