/*===== VARIABLES SCSS =====*/
/*===== VARIABLES CSS =====*/
/*=== Cores ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #000;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-green-color: #cdcdc5;
  --text-gay-color: #525560;
  --test-red-color: red;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h2-font-size: 3rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h2-font-size: 2.5rem;
    --normal-font-size: 1rem;
  }
}
/*===== SECTION ===== */
.lSectionBannerAboutUs {
  background-color: var(--background-green-color);
  display: none;
  justify-content: center;
  align-items: center;
  height: max(100vh, fit-content);
}

.imageWrapperBannerAboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
  right: 0;
  z-index: 1;
  width: 100%;
  max-width: 1279px;
  height: 384px;
  overflow: hidden;
  border-radius: 20px;
}

.imageBannerAboutUs {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 760px) {
  .lSectionBannerAboutUs {
    display: block flex;
  }
  .imageWrapperBannerAboutUs {
    max-width: 740px;
    height: 384px;
  }
}

@media screen and (min-width: 1200px) {
  .lSectionBannerAboutUs {
    display: block flex;
  }
  .imageWrapperBannerAboutUs {
    max-width: 1279px;
    height: 384px;
  }
}
