/*===== VARIABLES SCSS =====*/
/*===== VARIABLES CSS =====*/
/*=== Cores ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #000;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-green-color: #cdcdc5;
  --text-gay-color: #525560;
  --test-red-color: red;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h2-font-size: 3rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h2-font-size: 2.5rem;
    --normal-font-size: 1rem;
  }
}

/*===== SECTION ===== */
.lSectionHighlightsAndPreviousSermons {
  background-color: var(--white-color);
}

.sectionHighlightsAndPreviousSermons {
  height: max(100vh, fit-content);
  max-width: 1279px;
  margin-left: 0;
  margin-right: 0;
  padding: 2rem 0;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.marginTopCustomizedHighlightsAndPreviousSermons {
  background-color: blue;
  margin-top: 200px;
}

.customDivHighlightsAndPreviousSermons {
  margin: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sectionTextDarkHighlightsAndPreviousSermons {
  color: var(--text-gay-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 760px) {
  .sectionHighlightsAndPreviousSermons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .sectionTextDarkHighlightsAndPreviousSermons {
    padding-right: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .sectionHighlightsAndPreviousSermons {
    height: 100%;
    min-height: 200px;
  }
  .customDivHighlightsAndPreviousSermons {
    margin: 30px 0 0;
    justify-content: left;
  }
}
