/*===== VARIABLES CSS =====*/
/*=== COLORS ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #1d2130;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-dark-green-color: #677865;
  --background-green-color: #cdcdc5;
  --background-gray-color: #eeeeee;
  --text-gay-color: #525560;
  --text-white-color: #ffffff;
  --test-red-color: red;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 56px;
  --h2-font-size: 3rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.8rem;
    --normal-font-size: 1rem;
  }
}

/*===== SECTION ===== */
.lSectionTransformationStories {
  background-color: var(--background-white-color);
}
.sectionTransformationStories {
  height: max(100vh, fit-content);
  max-width: 1279px;
  margin-left: 0;
  margin-right: 0;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  border-radius: 0px;
  background-color: var(--background-green-color);
}
.sectionTransformationStoriesData {
  margin-bottom: 1rem;
}
.sectionTitleTransformationStories {
  width: 100%;
  text-align: center;
  font-size: var(--h3-font-size);
  font-weight: bold;
  color: var(--dark-color);
  margin-bottom: 1rem;
}

/*===== IMAGE =====*/
.sectionTransformationStoriesImg {
  border-radius: 20px;
  width: 100%;
  max-width: 612px;
}
.SecondColumTransformationStories {
  width: 100%;
  max-width: 488px;
  text-align: center;
}

/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 760px) {
  .sectionTransformationStories {
    border-radius: 0px;
  }
  .TransformationStories {
    width: 470px;
  }
  .sectionTransformationStoriesData {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .sectionTransformationStories {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 642px;
    border-radius: 20px;
    padding: 50px;
  }
  .SecondColumTransformationStories {
    width: 100%;
    max-width: 488px;
    text-align: start;
  }
  .sectionTransformationStoriesData {
    margin-bottom: 3rem;
  }
  .sectionTitleTransformationStories {
    font-size: var(--h2-font-size);
    text-align: start;
  }
}
