/*===== VARIABLES CSS =====*/
/*=== COLORS ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #1d2130;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-dark-green-color: #677865;
  --background-green-color: #cdcdc5;
  --background-gray-color: #eeeeee;
  --text-gay-color: #525560;
  --text-white-color: #ffffff;
  --test-red-color: red;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 56px;
  --h2-font-size: 3rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.8rem;
    --normal-font-size: 1rem;
  }
}

/*===== SECTION ===== */
.lSectionOurLeaders {
  background-color: var(--background-white-color);
}
.sectionOurLeaders {
  max-width: 1279px;
  margin-left: 0;
  margin-right: 0;
  padding: 2rem 0;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.sectionOurLeadersData {
  margin-bottom: 3rem;
}

/*===== IMAGE =====*/
.sectionOurLeadersImg div {
  background-image: url('../../assets/images/AldoEFabi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 320px;
  height: 320px;
}
.centeredImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 1350px) {
  .imageSmallShowAndHideOurLeaders {
    display: none;
  }
  .imageLargeShowAndHideOurLeaders {
    display: block;
  }
}

@media screen and (max-width: 1349px) {
  .imageSmallShowAndHideOurLeaders {
    display: block;
    margin-bottom: 15px;
  }
  .imageLargeShowAndHideOurLeaders {
    display: none;
  }
}

/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 320px) {
  .sectionOurLeaders {
    height: 100%;
  }
  .sectionOurLeadersImg div {
    width: 300px;
    height: 300px;
  }
  .sectionOurLeadersData {
    margin-top: 90px;
    padding: 0px;
  }
}

@media screen and (min-width: 480px) {
  .sectionOurLeaders {
    height: 850px;
  }
  .sectionOurLeadersImg div {
    width: 470px;
    height: 470px;
  }
  .sectionOurLeadersData {
    margin-top: 100px;
    padding: 0px;
  }
}

@media screen and (min-width: 760px) {
  .sectionOurLeaders {
    height: 900px;
  }
  .sectionOurLeaders {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
  .sectionOurLeadersImg div {
    width: 470px;
    height: 470px;
  }
  .sectionOurLeadersData {
    margin-top: 120px;
    padding: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .sectionOurLeaders {
    height: 810px;
  }
  .sectionOurLeadersData {
    margin-top: 80px;
    padding: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .sectionOurLeaders {
    height: 710px;
    justify-content: space-between;
    padding: 0px;
  }
  .sectionOurLeadersData {
    margin-top: 80px;
    padding: 0px;
    width: 100%;
    max-width: 780px;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1920px) {
  .sectionOurLeadersData {
    margin-top: 80px;
    padding: 0px;
    width: 100%;
    max-width: 780px;
  }
}
