/*===== VARIABLES SCSS =====*/
/*===== VARIABLES CSS =====*/
/*=== Cores ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #000;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-green-color: #cdcdc5;
  --text-gay-color: #525560;
  --test-red-color: red;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h2-font-size: 3rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h2-font-size: 2.5rem;
    --normal-font-size: 1rem;
  }
}

/*===== SECTION ===== */
.lSectionCommunityMission {
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
}
.sectionCommunityMission {
  height: max(100vh, fit-content);
  width: 100%;
  max-width: 1279px;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.sectionCommunityMissionData {
  margin-bottom: 3rem;
}
.customButtonCommunityMission {
  margin: 30px 0 0;
  display: flex;
  justify-content: center;
}

/*===== IMAGE =====*/
.sectionCommunityMissionImg div {
  background-image: url('assets/images/redencaoSimbolo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 320px;
  height: 320px;
}
.centeredImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.containerDivCommunityMission {
  margin-top: 10px;
  max-width: 727px;
}

/*===== IMAGES =====*/
.imageSmallShowAndHideCommunityMission {
  display: block;
}
.imageLargeShowAndHideCommunityMission {
  display: none;
}

/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 760px) {
  .sectionCommunityMissionImg div {
    justify-content: center;
    width: 470px;
    height: 470px;
  }
  .sectionCommunityMission {
    flex-direction: row;
    justify-content: center;
    padding: 0px;
  }
  .imageSmallShowAndHideCommunityMission {
    display: block;
  }
  .imageLargeShowAndHideCommunityMission {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .sectionCommunityMission {
    justify-content: space-between;
    padding: 0px;
  }
  .customButtonCommunityMission {
    justify-content: left;
  }
  .imageSmallShowAndHideCommunityMission {
    display: none;
  }
  .imageLargeShowAndHideCommunityMission {
    display: block;
  }
  .containerDivCommunityMission {
    margin-top: 0px;
  }
}
