/*===== VARIABLES SCSS =====*/
/*===== VARIABLES CSS =====*/
/*=== Cores ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #000;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-green-color: #cdcdc5;
  --text-gay-color: #525560;
  --test-red-color: red;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h2-font-size: 3rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h2-font-size: 2.5rem;
    --normal-font-size: 1rem;
  }
}

/*===== SECTION ===== */
.lSectionTransformationStories {
  background-color: var(--background-white-color);
}

.sectionTransformationStories {
  height: max(100vh, fit-content);
  max-width: 1279px;
  margin-left: 0;
  margin-right: 0;
  padding: 2rem 0;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px;
  border-radius: 0px;
  background-color: var(--background-green-color);
}

.sectionTransformationStoriesData {
  margin-bottom: 3rem;
}

/*===== IMAGE =====*/

.sectionTransformationStoriesImg {
  border-radius: 20px;
  width: 100%;
  max-width: 612px;
}

.SecondColumTransformationStories {
  width: 100%;
  max-width: 488px;
  text-align: center;
}

/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 760px) {
  .sectionTransformationStories {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    border-radius: 0px;
  }
  .TransformationStories {
    width: 470px;
  }
}

@media screen and (min-width: 1200px) {
  .sectionTransformationStories {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 642px;
    border-radius: 20px;
  }
  .SecondColumTransformationStories {
    width: 100%;
    max-width: 488px;
    text-align: start;
  }
}
