/*===== VARIABLES CSS =====*/
/*=== COLORS ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #1d2130;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-dark-green-color: #677865;
  --background-green-color: #cdcdc5;
  --background-gray-color: #eeeeee;
  --text-gay-color: #525560;
  --text-white-color: #ffffff;
  --test-red-color: red;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 56px;
  --h2-font-size: 3rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.8rem;
    --normal-font-size: 1rem;
  }
}
/*===== SECTION ===== */
.lSectionAssistanceDonateOverView {
  background-color: var(--background-green-color);
  display: flex;
  justify-content: center;
}
.sectionAssistanceDonateOverView {
  height: max(100vh, fit-content);
  width: 100%;
  max-width: 1279px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.sectionAssistanceDonateOverViewData {
  margin-bottom: 3rem;
  margin-top: 5rem;
}
.AssistanceDonateOverView {
  margin: 30px 0 0;
  display: flex;
  justify-content: center;
}

/*===== IMAGE =====*/
.sectionAssistanceDonateOverViewImg div {
  background-image: url('../../assets/images/imageDonateFabio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 320px;
  height: 320px;
}
.centeredImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.containerDivAssistanceDonateOverView {
  margin-top: 10px;
  width: 100%;
  max-width: 727px;
  display: flex;
  justify-content: center;
  text-align: center;
}

/*===== IMAGES =====*/
.imageSmallShowAndHideAssistanceDonateOverView {
  display: block;
}
.imageLargeShowAndHideAssistanceDonateOverView {
  display: none;
}

/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 760px) {
  .sectionAssistanceDonateOverViewImg div {
    justify-content: center;
    width: 470px;
    height: 470px;
  }
  .sectionAssistanceDonateOverView {
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    height: 100vh;
  }
  .imageSmallShowAndHideAssistanceDonateOverView {
    display: block;
  }
  .imageLargeShowAndHideAssistanceDonateOverView {
    display: none;
  }
  .containerDivAssistanceDonateOverView {
    max-width: 900px;
    margin-top: 10px;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .sectionAssistanceDonateOverView {
    justify-content: space-between;
    padding: 0px;
  }
  .AssistanceDonateOverView {
    justify-content: left;
  }
  .imageSmallShowAndHideAssistanceDonateOverView {
    display: none;
  }
  .imageLargeShowAndHideAssistanceDonateOverView {
    display: block;
  }
  .containerDivAssistanceDonateOverView {
    max-width: 727px;
    margin-top: 0px;
    justify-content: start;
    text-align: start;
  }
}
