/*===== VARIABLES CSS =====*/
/*=== COLORS ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #1d2130;
  --white-color: #fefdfc;
  --background-white-color: #fefdfc;
  --background-dark-color: #000000;
  --background-dark-green-color: #677865;
  --background-green-color: #cdcdc5;
  --background-gray-color: #eeeeee;
  --text-gay-color: #525560;
  --text-white-color: #ffffff;
  --test-red-color: red;
}
/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 56px;
  --h2-font-size: 3rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.8rem;
    --normal-font-size: 1rem;
  }
}
/*===== SECTION ===== */
.lSectionJoinTheGroup {
  background-color: var(--background-dark-color);
  margin-bottom: 70px;
}
.sectionJoinTheGroup {
  height: max(100vh, fit-content);
  max-width: 1279px;
  margin-left: 0;
  margin-right: 0;
  padding: 2rem 0;
  color: var(--dark-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}
.sectionJoinTheGroupData {
  margin-bottom: 3rem;
}
.sectionTextWhiteJoinTheGroup {
  color: var(--white-color);
  max-width: 550px;
}
.customButtonJoinTheGroup {
  margin: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.columJoinTheGroup {
  background-color: var(--background-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
  max-width: 590px;
  height: 100%;
}
.divComponentJoinTheGroup {
  display: flex;
  margin-bottom: 15px;
}
.divInfoJoinTheGroup {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.titleInfoJoinTheGroup {
  font-size: var(--h3-font-size);
  font-weight: bold;
  color: var(--white-color);
  text-align: center;
}
.textJoinTheGroup {
  font-size: var(--normal-font-size);
  color: var(--white-color);
  width: 100%;
  max-width: 290px;
  text-align: center;
}

/*===== IMAGE =====*/

.divImageJoinTheGroup {
  width: 100%;
  height: 100%;
  min-height: 160px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}
.imageShowAndHidelargerThan1350JoinTheGroup {
  display: none;
}
.imageShowAndHidelessThanOrEqualTo1350JoinTheGroup {
  display: block;
}

/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 760px) {
  .sectionJoinTheGroup {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .divInfoJoinTheGroup {
    max-height: 130px;
  }
  .textJoinTheGroup {
    text-align: start;
  }
  .titleInfoJoinTheGroup {
    text-align: start;
  }
  /*===== IMAGE =====*/

  .divImageJoinTheGroup {
    max-width: 190px;
  }
  .imageShowAndHidelargerThan1350JoinTheGroup {
    display: block;
  }
  .imageShowAndHidelessThanOrEqualTo1350JoinTheGroup {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .sectionJoinTheGroup {
    height: 100vh;
    max-width: 1279px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .customButtonJoinTheGroup {
    margin: 30px 0 0;
    justify-content: left;
  }
  .columJoinTheGroup {
    max-height: 580px;
  }
  .divInfoJoinTheGroup {
    max-height: 130px;
  }
  .divComponentJoinTheGroup {
    margin-bottom: 0px;
  }
  .textJoinTheGroup {
    text-align: start;
  }
  /*===== IMAGE =====*/
  .divImageJoinTheGroup {
    max-width: 190px;
  }
  .imageShowAndHidelargerThan1350JoinTheGroup {
    display: block;
  }
  .imageShowAndHidelessThanOrEqualTo1350JoinTheGroup {
    display: none;
  }
}
